.sidebar {
  position: fixed;
  left: 20px;
  bottom: 0px;
  top: 100px;
  background-color: white;
  width: 280px;
  z-index: 101;
}

.titolo {
  font-size: 20px;
  margin-bottom: 10px;
}

.elemento {
  margin-bottom: 20px;
  font-size: 16px;
  text-decoration: underline;
  position: relative; /* Aggiunto */
  padding-right: 10px; /* Aggiunto */
}

.sidebar::after {
  content: "";
  display: block;
  width: 1px; /* Larghezza della linea verticale */
  height: 100%; /* Altezza della linea verticale */
  background-color: black; /* Colore della linea verticale */
  position: absolute;
  top: 0;
  right: 0;
}

.elemento:hover {
  cursor: pointer;
}

.elemento:active {
  opacity: 0.5;
}

.content{
  margin-left: 350px;
  margin-top: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: rgb(0, 177, 88);
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;  
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: rgb(0, 177, 88);
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: rgb(0, 177, 88);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: rgb(0, 177, 88);
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.conferma-lingua{
  margin-top: 15px;
  border-color: rgb(0, 177, 88);
  color: black;
  border: 2px solid rgb(0, 177, 88);
  background-color: white;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
}

.conferma-lingua:active{
  opacity: 0.5;
}

.book-section {
  position: relative;
  top: 40px;
  left: 20px;
  margin-bottom: 20px;
  padding: 0px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.3);
  width: 95%;
}

.book-container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px 0px 20px 0px;
}

.titolo-libro {
  font-family: Roboto, Arial;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 7px;
}

.copertina-libro-container {
  width: 200px;
  text-align: left;
}

.copertina-libro {
  height: 200px;
  margin-left: 2px;
}

.autore, .genere {
  font-family: Roboto, Arial;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 10px;
}

.genere {
  font-style: italic; 
}

.info-libro {
  width: 300px;
  height: 231px;
  position: relative;
}

.bottone-cancella{
  position: absolute;
  top: 100px;
  left: 12px;
  border-color: #008fd6;
  color: #008fd6;
  border: 2px solid #006ca1;
  background-color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.bottone-cancella:active{
  opacity: 0.5;
}

.appuntamenti, .pagamenti {
  margin-top: 20px;
}

.appuntamenti h2, .pagamenti h2{
  font-size: 24px;
  color: #333;
}

.appuntamenti ul, .pagamenti ul {
  list-style: none;
  padding: 0;
}

.appuntamenti li, .pagamenti li {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.orario, .importo, .giorno, .descrizioneAppuntamento, .descrizione {
  color: #555;
  margin-left: 5px;
}

.cancella-appuntamento {
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  bottom: 16px;
  transform: translateY(-50%);
  border-color: #008fd6;
  color: #008fd6;
  border: 2px solid #006ca1;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
}

.cancella-appuntamento:active{
  opacity: 0.5;
}
